{% extends 'admin/_adminBase.html.twig' %}

{# ------------------------------------------------- #}
{% block pageTitle %}ITB CDM Admin{% endblock %}

{# ------------------------------------------------- #}
{% block main %}

    <div id="home-page">
    <div id="section">

        <p>
        <h1><strong> Creative Digital Media <br></strong></h1>
        <h1><strong>ADMIN DASHBOARD</strong><br><br></h1>
        </p>
    </div>

{% endblock %}