{% extends 'dashboard/_dashboard.html.twig' %}

{# ------------------------------------------------- #}
{% block pageTitle %}Dashboard{% endblock %}

{# ------------------------------------------------- #}
{% block main %}


    <div id="section">
     <p>
        <h1><strong> Creative Digital Media <br></strong></h1>
        <h1><strong> DASHBOARD</strong><br><br></h1>
        </p>

    </p>

    </div>


{% endblock %}